*{
    margin: 0;
    padding: 0;
}

/* modificaciones Nav */

.navbar-collapse{
    justify-content: flex-end;
}

nav{
    background-color: rgb(235, 235, 235);
}

li a{
    color: rgb(27, 23, 23);
    font-size: 1.3rem;
    margin: 0 1rem;
    font-family: 'Staatliches', cursive;
}

li a:hover{
    color: white !important;
    background-color: rgb(172, 0, 0);
    border-radius: 5px;
    
}

/* modificaciones index */

main{
    background-color: rgb(235, 235, 235);
}

.main__frase{
    font-family: 'Staatliches', cursive;
    width: 100%;
    text-align: center;
    font-size: 140px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
}

.index__imagenes img{
    margin-bottom: 2rem;
}

.index__main h2{
    margin: 10rem 0;
    font-size: 140px;
    font-family: 'Inspiration', cursive;
}

.index__main h4{
    font-size: 2.2rem;
    font-family: 'Big Shoulders Display', cursive;
}

/* modificaciones footer */

footer{
    background-color: rgb(99, 0, 0)
}

footer p{
    color: white;
}

footer h5{
    color: white;
    margin: 3rem 0 3rem 0;
}

.footer1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footer2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footer3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footer3 img{
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.footer4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

footer iframe{
    width: auto;
    height: auto;
}

@media only screen and (max-width: 768px) {

    /* media querie index */

    .main__frase{
        font-family: 'Staatliches', cursive;
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .index__main h2{
        font-size: 3rem;
        font-family: 'Inspiration', cursive;
        margin: 2rem 0;
    }

    .index__imagenes{
        margin: 2rem 0;
    }

    .index__imagenes img{
        width: 5rem;
    }

    .index__main h4{
        font-size: 1rem;
        font-family: 'Big Shoulders Display', cursive;
        margin: 0;
        padding: 0;
    }

    /* media querie footer */

    footer h5{
        font-size: .9rem;
    }

    footer p{
        font-size: .7rem;
    }

    .footer__img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__logo{
        width: 4rem;
        margin: 0;
        padding: 0;
    }

    .footer3{
        margin: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
}

@media only screen and (min-width: 1201px) and (max-width: 1500px){
}