footer{
    background-color: $bg-Principal;

    p{
        color: $textoW;
    }

    h5{
        color: $textoW;
        margin: 3rem 0 3rem 0;
    }

    iframe{
        width: auto;
        height: auto;
    }

    .footer1{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        img{
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }
}

@media only screen and (max-width: 768px){

    footer{
    
        h5{
            font-size: .9rem;
        }
        
        p{
            font-size: .7rem;
        }
        
        .footer__img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .footer__logo{
            width: 4rem;
            margin: 0;
            padding: 0;
        }
        
        .footer3{
            margin: 0;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){

    .footer__logo{
        width: 4.5rem;
        margin: 0;
        padding: 0;
    }
}

