.index__main{

    .img-fluid{
        width: 100%;
    }

    .main__frase{
        width: 100%;
        text-align: center;
        font-size: 140px;
        color: $textoW;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2{
        margin: 10rem 0;
        font-size: 140px;
    }

    h4{
        font-size: 2.2rem;
    }

    .index__imagenes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5rem 0;

        img{
            margin-bottom: 2rem;
        }
    }

}