.index__main{

    .img-fluid{
        width: 100%;
    }

    h2{
        margin: 10rem 0;
        font-size: 140px;
    }

    h4{
        font-size: 2.2rem;
    }

    .index__imagenes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5rem 0;

        img{
            margin-bottom: 2rem;
        }
    }

}

.main__frase{
    width: 100%;
    text-align: center;
    font-size: 140px;
    color: $textoW;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px){

    .main__frase{
        font-family: 'Staatliches', cursive;
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .index__main h2{
        font-size: 3rem;
        font-family: 'Inspiration', cursive;
        margin: 2rem 0;
    }

    .index__imagenes{
        margin: 2rem 0;
    }

    .index__imagenes img{
        width: 5rem;
    }

    .index__main h4{
        font-size: 1rem;
        font-family: 'Big Shoulders Display', cursive;
        margin: 0;
        padding: 0;
    }
    .main__frase{
        font-family: 'Staatliches', cursive;
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .index__main h2{
        font-size: 3rem;
        font-family: 'Inspiration', cursive;
        margin: 2rem 0;
    }

    .index__imagenes{
        margin: 2rem 0;
    }

    .index__imagenes img{
        width: 5rem;
    }

    .index__main h4{
        font-size: 1rem;
        font-family: 'Big Shoulders Display', cursive;
        margin: 0;
        padding: 0;
    }
}