.menu__main{

    h2{
        font-size: 7rem;
        margin: 1rem 0;
    }

    .menu--margin{
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px){

    .menu__main{
    
        h2{
            font-size: 4rem;
        }
    }
}

