header{
    background-color: rgb(219, 219, 219);

    .navbar-collapse{
        justify-content: flex-end;
    }

    li{ 
        a{
            color: $textoB;
            font-size: 1.3rem;
            margin: 0 1rem;
            font-family: 'Staatliches', cursive;
            background-image: -webkit-linear-gradient(45deg, $bg-Principal 50%, transparent 50%);
            background-image: linear-gradient(45deg, $bg-Principal 50%, transparent 50%);
            background-position: 100%;
            background-size: 400%;
            -webkit-transition: background 300ms ease-in-out;
            transition: background 300ms ease-in-out;

            &:hover {
                background-position: 0;
                color: $textoW !important;
            }
        }

    }
}

@media only screen and (max-width: 768px){

    header{

        img{
            width: 150px;
        }
    
        li{

            a{
                font-size: 1rem;
            }
        }
    } 
    
}