$bg-Principal: rgb(99, 0, 0);
$textoW: white;
$textoB: rgb(27, 23, 23);

$Fuente1: 'Staatliches',cursive;
$Fuente2: 'Inspiration',cursive;
$Fuente3: 'Big Shoulders Display',cursive;
$Fuente4: 'Oswald', sans-serif;
$Fuente5: 'Cookie', cursive;
$Fuente6: 'Raleway', sans-serif;