*{
    margin: 0;
    padding: 0;
}

@import "recursos";
@import "mapa--fuentes";
@import "footer";
@import "navbar";
@import "index";
@import "servicios";
@import "menu";
@import "conocenos";
@import "contacto";

main{
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {

    /* media querie nav */

    header img{
        width: 40px;
    }

    li a{
        font-size: 1rem;
    }

    /* media querie servicios */

    .invertir{
        flex-direction: column-reverse;
    }

    article h3{
        font-size: 1.5rem;
    }

    article p{
        font-size: 1rem;
    }

    /* media querie menu */

    .menu__main h2{
        font-size: 4rem;
    }

    /* media querie conocenos */

    .menu__frase{
        font-size: 2rem;
    }

    .conocenos__texto1{
        font-size: .8rem;
        margin: 0;
        margin: 1rem 0;
    }

    .conocenos__texto2{
        font-size: .8rem;
        margin: 0;
        margin: 1rem 0;
    }

    .conocenos__img{
        margin: 0;
    }

    /* media querie contacto */

    .ancho{
        width: 15rem;
    }

    .nombre{
        position: relative;
        right: 5.5rem;
    }
    
    .servicio{
        position: relative;
        right: 5.5rem;
    }
    
    .comentarios{
        position: relative;
        right: 4.3rem;
    }

    .contacto__main textarea{
        width: 15rem;
        height: 12rem;
    }

    .contacto__main h3{
        color: white;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }

    .form--fuente{
        font-size: .9rem;
    }

    .boton{
        font-size: .8rem;
        margin: 2rem 1rem;
    }

    /* media querie footer */

    footer h5{
        font-size: .9rem;
    }

    footer p{
        font-size: .7rem;
    }

    .footer__img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__logo{
        width: 4rem;
        margin: 0;
        padding: 0;
    }

    .footer3{
        margin: 0;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1200px){

    /* media querie index */

    .main__frase{
        font-size: 4rem;
    }

    .index__main h2{
        font-size: 5rem;
        font-family: 'Inspiration', cursive;
        margin: 2rem 0;
    }

    .index__imagenes img{
        width: 7rem;
    }

    .index__imagenes{
        margin: 2rem 0;
    }

    .index__main h4{
        font-size: 1.5rem;
        font-family: 'Big Shoulders Display', cursive;
        margin: 0;
        padding: 0;
    }

    /* media quierie servicios */

    .invertir{
        flex-direction: column-reverse;
    }

    article p{
        font-size: 1rem;
    }

    article h3{
        font-size: 2rem;
    }

    /* media querie conocenos */

    .menu__frase{
        font-size: 5rem;
    }

    .conocenos__texto1{
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .conocenos__texto2{
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .conocenos__img{
        margin: 1rem 0;
    }


    /* media querie footer */

    .footer__logo{
        width: 4.5rem;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px){

    /* media querie servicos */

    .main__frase{
        font-size: 6rem
    }

    article p{
        font-size: 1rem;
    }

    /* media querie conocenos */

    .menu__frase{
        font-size: 7rem;
    }

    .conocenos__texto1{
        margin: 1rem;
        font-size: 1.3rem;
    }

    .conocenos__texto2{
        margin: 1rem;
        font-size: 1.3rem;
    }
}

