*{
    margin: 0;
    padding: 0;
}

@import "recursos";
@import "mapa--fuentes";
@import "footer";
@import "navbar";
@import "index";
@import "servicios";
@import "menu";
@import "conocenos";
@import "contacto";

main{
    background-color: rgb(255, 255, 255);
}