<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante La Estacion</title>
    <!-- CSS bootstraps -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">  
    <!-- linkeo AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Linkeo CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- linkeo fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Big+Shoulders+Display:wght@600&family=Bubblegum+Sans&family=Cookie&family=Inspiration&family=Oswald&family=Raleway:wght@100;200;300;500&family=Readex+Pro:wght@300&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12 col-xl-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="../index.html"> <img src="../assets/img/logo_restaurante.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link activate" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="../views/servicios.html">SERVICIOS</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="../views/menu.html">MENU</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="../views/conocenos.html">CONOCENOS</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    <main class="container-fluid menu__main">
      <div class="row">
        <div class="col-lg-12 col-12 col-xl-12 d-flex justify-content-center">
          <h2>Menú</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 col-xl-6 justify-content-center">
          <img src="../assets/img/menu_generico.png" alt="menu" class="img-fluid">
        </div>
        <div class="col-lg-6 col-12 col-xl-6 justify-content-center">
          <img src="../assets/img/menu_generico.png" alt="menu" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 col-xl-6 justify-content-center">
          <img src="../assets/img/menu_generico.png" alt="menu" class="img-fluid">
        </div>
        <div class="col-lg-6 col-12 col-xl-6 justify-content-center">
          <img src="../assets/img/menu_generico.png" alt="menu" class="img-fluid menu--margin">
        </div>
      </div>
    </main>
    <!-- apertura footer -->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-4 col-xl-3 footer1">
                <div><h5>ENCUENTRANOS</h5></div>
                <div><p>calle 123</p></div>
                <div><p>Barrio X</p></div>
                <div><p>ciudad X</p></div>
            </div>
            <div class="col-lg-3 col-4 col-xl-3 footer2">
                <div><h5>HORARIOS</h5></div>
                <div><p>Lun-Dom</p></div>
                <div><p>00:00-00:00</p></div>
            </div>
            <div class="col-lg-3 col-4 col-xl-3 footer3">
                <div><h5>CONTACTO</h5></div>
                <div class="footer__img">
                    <span><a href="https://www.instagram.com/?hl=en"><img class="footer__logo" src="../assets/img/instagram_logo.png" alt=""></a></span>
                    <span><a href="https://www.facebook.com/"><img class="footer__logo" src="../assets/img/facebook_logo.png" alt=""></a></span>
                    <span><a href=""><img class="footer__logo" src="../assets/img/wa_logo.png" alt=""></a></span>
                </div>
                <div><p>+00 123 45745678</p></div>
            </div>
            <div class="col-lg-3 col-12 col-xl-3 footer4">
                <div><h5>¿COMO LLEGAR?</h5></div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d352.4329744588467!2d-75.77703200116761!3d2.026120034848653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e251eec0c707555%3A0x25c6ae4331a120a2!2sRestaurante%20La%20Estaci%C3%B3n!5e0!3m2!1sen!2sar!4v1645584651717!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <!-- JS bootstraps -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>